{% extends 'base/base.html' %}
{% load static %}
{% block title_block %} Daily expenses {% endblock %}

{% block content_block %}
<div class="row grid-margin" id="stock">
	<div class="col-12">
		<div class="card">
			
			{% if messages %}
			{% for message in messages %}
			<div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			{% endfor %}
			{% endif %}
			
			<div class="card-body">
				<h6 class="card-title text-center">Daily expenses list</h6>
				<hr>
				<form  action="#stock" method="GET" class="mt-4">
					<div class="d-flex table-responsive">
						<div class="ml-auto mr-2 border-1">
							<button type="button" class="btn btn-danger btn-sm float-right ml-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" title="Click to add new expense">Add</button type="button">
						</div>
					</div>
				</form>
				<div class="table-responsive">
					{% for expense in expenses %}
					<table class="table mt-3 border-top text-center">
						<thead>
						<tr class="bg-info">
							<th>Expense Type  <span class="badge badge-success">{{ expense.year }}</span></th>
							<th>Ex-amount</th>
							<th>Ex-Date</th>
							<th>Created By</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						{% for exp in expense.expense_set.all %}
						<tr style="background:#e8e8e8;">
							<td>{{ exp.expense_type }}</td>
							<td>{{ exp.expense_amount }}</td>
							<td>{{ exp.created_at }}</td>
							<td>{{ exp.created_by }}</td>
							<td>
								<a href="{% url 'Balance:delete-expense' ex_id=exp.pk %}" onclick="return confirm('Are you sure to delete this expense record ?')" class="badge badge-danger float-right ml-2"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan="5" class="text-center">No data available ....</td>
						</tr>
						{% endfor %}
						</tbody>
						<tfoot>
						<tr>
							<td class="text-right">{{ total_purchase }} &nbsp; &nbsp; &nbsp; &nbsp;</td>
							<td></td>
							<td>{{ total_sold }}</td>
							<td>{{ total_profit }}</td>
						</tr>
						</tfoot>
					</table>
					{% empty %}
					<table class="table mt-3 border-top text-center">
						<thead>
							<tr>
								<th colspan="4">No data available ......</th>
							</tr>
						</thead>
					</table>
					
					{% endfor %}
				</div>
				<nav>
					<ul class="pagination pagination-info mb-0">
						{% if expenses.has_previous %}
						<li class="page-item"><a href="?page={{ expenses.previous_page_number }}" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
						{% endif %}
						{% for num in expenses.paginator.page_range %}
						{% if expenses.number == num %}
						<li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
						{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
						{% endif %}
						{% endfor %}
						{% if expenses.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ expenses.next_page_number }}"><i class="mdi mdi-chevron-right"></i></a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add new expense</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'Balance:add-new-expense' %}" method="POST">{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label class="col-form-label">Expense Type:</label>
						{{ form.expense_type }}
					</div>
					<div class="form-group">
						<label class="col-form-label">Expense amount:</label>
						{{ form.expense_amount }}
					</div>
					
					<div class="form-group">
						<label class="col-form-label">Date:</label>
						<div class="input-group date" id="datetimepicker3" data-target-input="nearest">
							<input type="text" name="expense_date" value="{{ request.POST.started }}" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="Set date and time" required/>
							<div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
								<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
							</div>
						</div>
					</div>
				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}