{% extends 'base/base.html' %}
{% load static %}
{% block title_block %}  Updating {{ product }} {% endblock %}
{% block content_block %}
<!-- partial -->
<div class="row grid-margin">
    <div class="col-12">
        <form action="" method="post">{% csrf_token %}
            <div class="card">

                {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endfor %}
                {% endif %}

                <div class="card-body">
                    <table class="table text-center">
                        <tr>
                            <th>Customer</th>
                            <th>Shade No</th>
                            <th>Updating</th>
                            <th>Available In Stock</th>
                        </tr>
                        <tr>
                            <td>{{ product.customer }}</td>
                            <td>{{ product.shade.shade_num }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ stock_product.quantity }} {{ stock_product.unit_tag }}</td>
                        </tr>
                    </table>
                    <hr>

                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Price per unit</label>
                        </div>
                        <div class="col-lg-8">
                            {{ form.price }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Quantity</label>
                        </div>
                        <div class="col-lg-8">
                            {{ form.quantity }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Discount per unit (Optional)</label>
                        </div>
                        <div class="col-lg-8">
                            {{ form.discount_per_unit }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Sell status</label>
                        </div>
                        <div class="col-lg-8">
                            {{ form.sell_status }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-8">
                            <a href="{% if product %}{% url 'Dashboard:customer-purchasing-info' shade_id=shade_id customer_id=product.customer.pk %}{% else %}{% url 'Dashboard:customer-purchasing-info' shade_id=shade_id customer_id=customer.pk %}{% endif %}" class="btn btn-danger">Back</a>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}>