{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %} Updating profile {% endblock %}

{% block content_block %}
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                 {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }} {% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endfor %}
              {% endif %}
                <div class="card-body">
                  <h4 class="card-title">Updating  employee </h4>
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        {{ p_form|crispy }}
                        <a href="{% url 'Login_app:profile' user_id=profile.user.pk %}" class="btn btn-warning">Back</a>
                        <input type="submit" value="Save" class="btn btn-primary">
                    </form>
                </div>
              </div>
            </div>
          </div>
{% endblock %}