{% extends 'base/base.html' %}
{% load static %}
{% block title_block %} Today's due sell info ( {{ today }} ){% endblock %}
{% block content_block %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Today's due sell info ( {{ today }} )</h4>
                <hr>
                <div class="table-responsive mt-4">
                    <table class="table">
                        <thead>
                        <tr style="background:#7f868a; color:#fff;">
                            <th>Customer</th>
                            <th>Product</th>
                            <th>Status</th>
                            <th colspan="2">( Qty * Price ) - Discount = Total</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in due_products %}
                        <tr style="background:#dee1e3;{% if product.sell_status == 'Paid' %}background:#6b5c68{% endif %}"  title="Sold by ' {{ product.sold_by }} '">
                            <td>{{ product.customer.name }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.sell_status }}</td>
                            <td colspan="2">( {{ product.quantity }} * {{ product.price }} ) - {{ product.total_discount }} = {{ product.total_price }}</td>
                            <td>{{product.created|date:'SHORT_DATE_FORMAT'}} {{product.created|time:'h:i a'}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">Today's no due sell information yet</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">TOTAL</td>
                            <td colspan="3">{{ total_due_sell }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}>
