{% extends 'base/base.html' %}
{% load static %}
{% block title_block %} Message detail {% endblock %}


{% block content_block %}
<div class="email-wrapper wrapper">
	<div class="row align-items-stretch">
		<div class="mail-view d-none d-md-block col-md-12 bg-white">
			<div class="row">
				<div class="col-md-12 mb-4 mt-4">
					<div class="btn-toolbar">
						<div class="btn-group">
							<a href="{% url 'Message:inbox' %}" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-reply text-primary"></i> Back</a>
							<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="mdi mdi-reply text-primary"></i> Reply</button>
						</div>
						<div class="btn-group">
							<a href="{% url 'Message:delete-message' msg_id=msg.pk %}" onclick="return confirm('Are you sure to delete this message ?')" class="btn btn-sm btn-outline-secondary"><i class="mdi mdi-delete text-primary"></i>Delete</a>
						</div>
					</div>
				</div>
			</div>
			<div class="message-body">
				<div class="sender-details">
					<img class="img-sm rounded-circle mr-3" src="{% if msg.profile.image %}{{ msg.profile.image.url }}{% else %}{% static 'p_default_image/profile.jpg' %}{% endif %}" alt="Image not fount">
					<div class="details">
						<p class="msg-subject">
							{{ msg.sent_at|timesince }} ago .
						</p>
						<p class="sender-email">
							<a href="">From : {% if msg.sender.profile.username %}
								{{ msg.sender.profile.username }}
								{% else %}
								{{ msg.sender }}
								{% endif %}
								&nbsp;<i class="mdi mdi-account-multiple-plus"></i></a>
						</p>
					</div>
				</div>
				<div class="message-content">
					<p>Hi {% if msg.receiver.profile.username %}{{ msg.receiver.profile.username }}{% else %}{{ msg.receiver }}{% endif %},</p>
					<p>{{ msg.message }}</p>
					<p><br><br>Regards,<br>
						{% if msg.sender.profile.username %}
						{{ msg.sender.profile.username }}
						{% else %}
						{{ msg.sender }}
						{% endif %}</p>
				</div>
			</div>
			{% for reply in msg.reply.all %}
			<div class="message-body">
				<div class="sender-details">
					<div class="details">
						<p class="msg-subject">
							Replied to {% if reply.msg.sender.profile.username %}{{ reply.msg.sender.profile.username }}{% else %}{{ reply.msg.sender }}{% endif %},
							{{ reply.sent_at|timesince }} ago .
						</p>
					</div>
				</div>
				<div class="message-content" style="padding-left:100px;">
					<p>{{ reply.message }} -----"{% if reply.msg.receiver.profile.username %}
						{{ reply.msg.receiver.profile.username }}
						{% else %}
						{{ reply.msg.receiver }}
						{% endif %}"</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Replying to <span class="badge badge-success">{% if msg.sender.profile.username %}{{ msg.sender.profile.username }}{% else %}{{ msg.sender.email }}{% endif %}</span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'Message:message-reply' msg_id=msg.pk user_id=msg.sender.pk %}" method="POST">{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label class="col-form-label">Message :</label>
						{{ form.message }}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}